.text {
  animation-name: moveText;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  display: inline-block;
  opacity: 0;
  animation-fill-mode: forwards;
  @apply font-sans transform translate-y-8;
}

span span:nth-child(n) {
  color: tomato;
  
}
span span:nth-child(2n) {
  color: lightseagreen;
}
span span:nth-child(3n) {
  color: orange;
}
span span:nth-child(4n) {
  color: dodgerblue;
}
span span:nth-child(5n) {
  color: blueviolet;
}

@keyframes moveText {
  0% {
    @apply transform translate-y-4 opacity-25;
  }
  50% {
    @apply transform -translate-y-4 opacity-70;
  }
  100% {
    @apply transform -translate-y-0 opacity-100;
  }
}
